{% extends "layout.html" %}

{% block main %}
<style>
    .kb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kb-item {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 20px 0;
    width: 500px;
    border: 1px solid green
}
.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image img {
    width: 150px;
    border-radius: 50%;
}
</style>
<div class="kb-container">
    {% for article in articles %}
    <div class="kb-item">
        <div class="image">
            <img src="https://www.ikea.com/de/de/images/products/aglaonema-pflanze__1221135_pe914303_s5.jpg?f=xl" alt="">
        </div>
        <div class="text">
            <div>
                <h1>{{article[2]}}</h1>
            </div>
            <div>
                {{article[3]}}
            </div>
            <div class="icons">
                <div style="display: flex; justify-content: space-between;">
                    <div class="material-icons">thumb_up</div>
                    <div class="material-icons">thumb_down</div>
                    <div class="material-icons">share</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}